

<MudNavMenu  Class="mudblazor-navmenu" Margin="Margin.Dense" Color="Color.Warning">
        <div class="docs-nav-fader"></div>
        <MudNavLink Href="/index" Icon="@Icons.Filled.Dashboard">Dashboard</MudNavLink>
        <MudNavLink Href="/codeeditor" Icon="@Icons.Filled.Code">Programming IDE</MudNavLink>
        <MudNavLink Href="/debug" Icon="@Icons.Filled.DeveloperBoard">Debugging</MudNavLink>
</MudNavMenu>




@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
        StateHasChanged();
    }
}