


.main-container {
	overflow: hidden;
	display: grid;
	grid-template-areas: "left right";
	grid-template-columns: 30rem 1fr;
	grid-template-rows: 1fr;
	grid-column-gap: 0px;
	grid-row-gap: 0px;
	background-color: aqua;
	position: relative;
	height: 100vh;
}

.leftpanel {
	grid-area: left;
	background-color: white;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 16px;
	grid-column-gap: 0px;
	grid-row-gap: 0px;
}

.rightpanel {
	grid-area: right;
	background-color: #f8f9fc;
	position: absolute;
	width: 100%;
	height: 100%;
}


.menupanel {

}

.statusbar {
	background-color: #c4c4c4;
	width: 100%;
	height: 100%;
}
